In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range('20190301',periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# 랜덤한 함수는 numpy를 이용해서 가져올수 있다.
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A','B','C','D'])
     #6행 4열의 랜덤한 값을 만듦, index는 dates를 쓰겠다, 컬럼명도 설정해줌
df

                   A         B         C         D
2019-03-01 -0.818697 -1.941408 -0.945721  1.373445
2019-03-02  0.326464 -0.118146 -0.904673  1.370155
2019-03-03 -0.743384 -0.115781 -1.517518  0.530873
2019-03-04  0.685417 -0.441506  0.316683 -0.150110
2019-03-05 -0.310061  0.207842  1.808460  0.897516
2019-03-06  1.232358  2.496388 -0.204046  1.197801

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
df.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df.values

array([[-0.81869669, -1.94140787, -0.9457208 ,  1.37344457],
       [ 0.32646396, -0.11814627, -0.90467286,  1.37015466],
       [-0.74338375, -0.1157809 , -1.51751762,  0.53087277],
       [ 0.68541749, -0.44150629,  0.3166835 , -0.15010991],
       [-0.31006053,  0.20784247,  1.80846017,  0.89751576],
       [ 1.23235785,  2.49638759, -0.20404623,  1.19780104]])

In [8]:
df.sort_values(by='A') # by를이용해서 'A'를 기준으로 오름차순 정렬

                   A         B         C         D
2019-03-01 -0.818697 -1.941408 -0.945721  1.373445
2019-03-03 -0.743384 -0.115781 -1.517518  0.530873
2019-03-05 -0.310061  0.207842  1.808460  0.897516
2019-03-02  0.326464 -0.118146 -0.904673  1.370155
2019-03-04  0.685417 -0.441506  0.316683 -0.150110
2019-03-06  1.232358  2.496388 -0.204046  1.197801

In [9]:
df.sort_values(by='A', ascending=False) # 내림차순 정렬

                   A         B         C         D
2019-03-06  1.232358  2.496388 -0.204046  1.197801
2019-03-04  0.685417 -0.441506  0.316683 -0.150110
2019-03-02  0.326464 -0.118146 -0.904673  1.370155
2019-03-05 -0.310061  0.207842  1.808460  0.897516
2019-03-03 -0.743384 -0.115781 -1.517518  0.530873
2019-03-01 -0.818697 -1.941408 -0.945721  1.373445

In [10]:
df['A']

2019-03-01   -0.818697
2019-03-02    0.326464
2019-03-03   -0.743384
2019-03-04    0.685417
2019-03-05   -0.310061
2019-03-06    1.232358
Freq: D, Name: A, dtype: float64

In [11]:
df.A

2019-03-01   -0.818697
2019-03-02    0.326464
2019-03-03   -0.743384
2019-03-04    0.685417
2019-03-05   -0.310061
2019-03-06    1.232358
Freq: D, Name: A, dtype: float64

In [12]:
type(df['A']) # Series(세로,열 한줄)클래스의 단위로 만들어야 처리하기가 편하기 때문에 하나로 묶어줌

pandas.core.series.Series

In [13]:
df[0:3] # ':'의 의미는 부터 라는의미로 0:3은 0부터 2까지를 나타냄, 행추출

                   A         B         C         D
2019-03-01 -0.818697 -1.941408 -0.945721  1.373445
2019-03-02  0.326464 -0.118146 -0.904673  1.370155
2019-03-03 -0.743384 -0.115781 -1.517518  0.530873

In [14]:
df.iloc[0:3]

                   A         B         C         D
2019-03-01 -0.818697 -1.941408 -0.945721  1.373445
2019-03-02  0.326464 -0.118146 -0.904673  1.370155
2019-03-03 -0.743384 -0.115781 -1.517518  0.530873

In [15]:
df.loc['2019-03-01'] # 행추출, 행에 해당하는 모든 열이 추출됨

A   -0.818697
B   -1.941408
C   -0.945721
D    1.373445
Name: 2019-03-01 00:00:00, dtype: float64

In [16]:
df.loc['2019-03-01', ['A','C']] #loc, iloc[행]

A   -0.818697
C   -0.945721
Name: 2019-03-01 00:00:00, dtype: float64

df.loc[행]   
df.loc[행,열]   
df.loc[  ,열]

In [17]:
df.loc[:,'A']

2019-03-01   -0.818697
2019-03-02    0.326464
2019-03-03   -0.743384
2019-03-04    0.685417
2019-03-05   -0.310061
2019-03-06    1.232358
Freq: D, Name: A, dtype: float64

In [18]:
df.loc[:,['A','C']]

                   A         C
2019-03-01 -0.818697 -0.945721
2019-03-02  0.326464 -0.904673
2019-03-03 -0.743384 -1.517518
2019-03-04  0.685417  0.316683
2019-03-05 -0.310061  1.808460
2019-03-06  1.232358 -0.204046

df.iloc[행]   
df.iloc[행,열]   
df.iloc[  ,열]   
loc와 iloc의 차이는 항목명을 쓰느냐 인덱스를 쓰느냐의 차이
iloc는 행 또는 열의 인덱스를 가지고 슬라이싱   
loc는 행은 인덱스로 정해진 컬럼(dates), 열은 열이름으로 슬라이싱/.

In [19]:
df.iloc[0]

A   -0.818697
B   -1.941408
C   -0.945721
D    1.373445
Name: 2019-03-01 00:00:00, dtype: float64

In [20]:
df.shape

(6, 4)

In [21]:
df.iloc[5] # 행 슬라이싱

A    1.232358
B    2.496388
C   -0.204046
D    1.197801
Name: 2019-03-06 00:00:00, dtype: float64

In [22]:
df.iloc[3:5] # 행 슬라이싱 범위(3~4까지)

                   A         B         C         D
2019-03-04  0.685417 -0.441506  0.316683 -0.150110
2019-03-05 -0.310061  0.207842  1.808460  0.897516

In [23]:
temp = df.iloc[3:5] #iloc, loc는 비파괴, 원본을 변경시키지 않고, 일부만 추출
temp #일부만 추출한 결과를 가지고 여러 처리를 하고자 하는 경우, 변수에 저장해 놓아야한다

                   A         B         C         D
2019-03-04  0.685417 -0.441506  0.316683 -0.150110
2019-03-05 -0.310061  0.207842  1.808460  0.897516

In [24]:
df.iloc[:]

                   A         B         C         D
2019-03-01 -0.818697 -1.941408 -0.945721  1.373445
2019-03-02  0.326464 -0.118146 -0.904673  1.370155
2019-03-03 -0.743384 -0.115781 -1.517518  0.530873
2019-03-04  0.685417 -0.441506  0.316683 -0.150110
2019-03-05 -0.310061  0.207842  1.808460  0.897516
2019-03-06  1.232358  2.496388 -0.204046  1.197801

In [25]:
df.iloc[4:] #4부터 끝까지

                   A         B         C         D
2019-03-05 -0.310061  0.207842  1.808460  0.897516
2019-03-06  1.232358  2.496388 -0.204046  1.197801

In [26]:
df.iloc[:4] #0부터 3까지(3부터 앞으로 끝까지)

                   A         B         C         D
2019-03-01 -0.818697 -1.941408 -0.945721  1.373445
2019-03-02  0.326464 -0.118146 -0.904673  1.370155
2019-03-03 -0.743384 -0.115781 -1.517518  0.530873
2019-03-04  0.685417 -0.441506  0.316683 -0.150110